/*font-family: 'Open Sans', sans-serif;
font-family: 'Sigmar One', cursive;*/
.item-form, .item-shelf, .item-details{
  font-family: 'Open Sans', sans-serif;
}

.form-elements{
  display:flex;
  line-height: 2;
}
.landing-pg-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.open-garage-btn {
  width:10%;
  margin:auto;
}

h1{
  font-family: 'Sigmar One', cursive;
  text-align: center;
}

img {
  height:100vh;
  width:100%;
}

.item-details{
  display: inline-block;
  width: 50%;
  float:right;
}

.item-shelf{
  display:inline-block;
  width: 20vw;
  height: 100%;
  float:left;
}

.slider {
  overflow-y: hidden;
  max-height: 100vh;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height:0;
}
